* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sanserif;
}

.top-bar {
    display: flex;
    background-color: #e55557;
    justify-content: center;
}

.top-bar > img {
    width: 50px;
    height: 50px;
    margin: 30px;
}

.top-bar > h1 {
    font-size: 20px;
    align-content: center;
    color: aliceblue;
}

.card {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.card > img {
    width: 156px;
    height: 278px;
    object-fit: cover;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.location-bar {
    display: flex;
    align-items: center;
    height: 20px;
    gap: 10px;
}

.location-bar > img {
    width: 20px;
    height: 20px;
}

.location-bar > a {
    font-size: 13px;
}

h2 {
    margin-top: 7px;
    margin-bottom: 7px;
}
h6 {
    margin-top: 16px;
    margin-bottom: 16px;
}
